include header

block content
  h1.text-2xl.mb-4 Відновлення пароля

  if error
    p.text-red-500.mb-2= error

  form(action="/reset-password/...", method="POST", class="bg-purple-50 p-6 rounded shadow max-w-md")
    label(for="password", class="block mb-1") Новий пароль:
    input(type="password", name="password", required, class="u-full-width")

    button(type="submit", class="button-primary mt-3") Змінити
