h1 form 

form(action="/form" method="POST")
  input(type="text" name="username" placeholder="Ваше ім’я" required)
  textarea(name="message" placeholder="Ваш відгук" required)
  button(type="submit") Надіслати
